div{
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
.satu {
    background-color: aqua;
    padding: 10px;
    border: 5px solid red;
}
.dua{
    background-color: blue;
    padding: 30px;
    border: 10px dashed black;
}